.header-comp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo logo buttons";
  color: rgb(128, 0, 128);
  background-color: rgb(196, 214, 238);
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.btn-group {
  grid-area: buttons;
  height: 60%;
}

.btn {
  width: 130px;
  font-weight: bold;
}

.logo {
  display: flex;
  grid-area: logo;
  height: 100%;
  max-height: 100%;
  align-items: center;
}
