.home-comp {
  background-color: azure;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    ". search ."
    ". display .";
  align-items: center;
  width: 100vw;
}

